li {
  list-style: none;
}
ul,
li,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background-image: url(https://github.com/Github-Duyi-kai/Image_yuanqi/blob/master/%E4%BA%91%E7%A6%85.jpg?raw=true);
  background-size: 100% 100%;
  background-color: black;
  opacity: 0.9;
}
